*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{
background:#f5f7fb;
color:#222;
}


header{

height:70px;
background:#005bea;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 8%;

position:sticky;
top:0;
z-index:10;

}


.logo{
font-size:25px;
font-weight:bold;
}



nav a{

color:white;
text-decoration:none;
margin-left:25px;

}



.hero{

min-height:90vh;

display:flex;
align-items:center;
justify-content:space-between;

padding:50px 8%;

background:linear-gradient(
120deg,#005bea,#00c6fb
);

color:white;

}


.hero-text{

width:45%;

}


.hero h1{

font-size:45px;
margin-bottom:20px;

}



.hero p{

font-size:18px;
line-height:1.7;

}



.banner{

width:45%;
border-radius:20px;

box-shadow:
0 15px 40px #0005;

}



.btn{

display:inline-block;

margin-top:25px;

background:#ff9800;

padding:14px 25px;

border-radius:30px;

color:white;

text-decoration:none;

font-weight:bold;

}



section{

padding:70px 8%;

text-align:center;

}



h2{

font-size:32px;
margin-bottom:35px;

}



.card-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}



.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 25px #0002;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



.promo{

background:#ff9800;

color:white;

}



.price{

background:white;

padding:30px;

border-radius:20px;

font-size:20px;

}



#kontak{

background:#005bea;
color:white;

}



footer{

background:#111;
color:white;
text-align:center;

padding:20px;

}